body {
  background-color: rgb(245, 245, 245);
  /* height: 300%; */
  margin: 0;
  color: rgb(50, 50, 50)
}

p {
  margin: 0;
}

/* Can't decide whether to do align left w padding or center */
h1 {
  font-family: Maven Pro, Arial;
  font-size: 300%;
  /* padding-left: 20%; */
  margin-bottom: -5px;
  text-align: center;
}

h1::first-letter {
  font-size: 130%;
}

h2 {
  font-family: Maven Pro, Arial;
  padding-left: 5%;
  margin-bottom: -5px;
}

h2::first-letter {
  font-size: 130%;
}

hr {
  border: 0;
  height: 1px;
  width: 75%;
  background: #333;
  margin-bottom: 20;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: rgb(245, 245, 245);
  font-size: 80%;
}

button:focus {
  outline: 0;
}

button:active:focus {
  outline: 0;
}

button::-moz-focus-inner {
  border: 0px;
}

.center {
  display: table;
  margin: 0 auto;
  height: 100vh;
}

.name-text {
  font-family: Cantarell, Arial;
  font-size: 450%;
  animation: 1s ease 0s normal forwards 1 fadein-name;
  white-space: nowrap;
  display: inline-block;
}

#large-letter{
  font-size: 130%;
  margin-right: -0.25em;
}

.name-text.first {
  margin-bottom: -25px;
  margin-right: 0.25em;
}

.name-text.second {
  margin-top: -25px;
}

.name-container {
  margin-top: 35vh;
  margin-bottom: -20px;
  text-align: center;
}

.motto-text {
  text-align: center;
  font-family: Cantarell, Arial;
  font-size: 200%;
  margin-bottom: -20px;
  animation-fill-mode: forwards;
}

.motto-text.first {
  animation: 3s ease 0s normal forwards 1 fadein-motto-top;
  margin-bottom: -5;
}

.motto-text.second {
  animation: 3s ease 0s normal forwards 1 fadein-motto-bottom;
}

.meet-me {
  padding-bottom: 2rem;
  background-color: rgb(232, 232, 232);
}

.meet-me-text-frame {
  display: flex;
}

.meet-me-container {
  width: 70%;
  margin: auto;
  margin-bottom: -0.6rem;
  display: table;
}

.meet-me-container > p {
  font-family: Maven Pro, Arial;
  margin-left: 10;
  float: left;
}

.meet-me-text-container {
  font-family: Maven Pro, Arial;
}

.meet-me-text-container > p {
  padding-bottom: 20;
  /* font-size: 2vh; */
}

.meet-me-text-container > h4 {
  font-family: Cantarell, Arial;
  /* font-weight: bold; */
}

.occupation-container {
  /*width: 60%;
  margin: auto;
  margin-bottom: 20;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;*/
  width: 900;
  margin: auto;
  margin-bottom: 20;
  display: flex;
  flex-wrap: wrap;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;
}

.occupation-image {
  margin-right: 5;
  margin-left: 5;
  margin-top: 5;
  margin-bottom: 5;
  position: relative;
}

.occupation-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.occupation-text {
  font-family: Maven Pro, Arial;
  font-size: 175%;
  text-align: center;
}

.occupation-image:hover .occupation-image-overlay {
  opacity: 1;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.social-media-icon {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-top: -0.2rem;
}

#text-align-right {
  text-align: right;
}

#text-align-left {
  text-align: left;
}

.my-work {
  display: inline-block;
}

.occupation-section {
  background-color: rgb(232, 232, 232);
  width: 90%;
  display: table;
  margin: 0 auto;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.occupation-section > h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.inline-span {
  display: inline;
  font-family: Maven Pro, Arial;
}

.inline-span > p {
  margin-bottom: 1rem;
}

.occupation-location {
  float: left;
  font-family: Cantarell, Arial;
  margin-right: 0.4rem;
}

.occupation-placeholder {
  margin-bottom: 3rem;
}

.social-media-links {
  margin-left: 0.2rem;
}

.values {
  background-color: rgb(232, 232, 232);
  padding-bottom: 0.5rem;
}

.values-box {
  width: 30%;
  font-family: Cantarell, Arial;
  white-space: nowrap;
  font-size: 150%;
  text-align: center;
  display: table;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.meet-me-container div {
   /* min-height: 200px; */
   /* min-width: 250px; */
   padding: 10px;
}

.left-top {
  float: left;
  width: 486px;
  margin-right: 0.5rem;
}

.right-bottom {
  overflow:hidden;
  min-height:170px;
}

.right-top {
  float: right;
  width: 486px;
  margin-right: 0.5rem;
}

.left-bottom {
  overflow:hidden;
  min-height:170px;
  text-align: right;
}

#linkedin-icon {
  filter: brightness(700%);
}

#github-icon {
  filter: brightness(850%);
}

#resume-icon {
  filter: brightness(350%);
}

@keyframes fadein-name{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadein-motto-top{
    0% { opacity: 0; }
    33% { opacity: 0; }
    66% { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes fadein-motto-bottom{
    0% { opacity: 0; }
    33% { opacity: 0; }
    66% { opacity: 0; }
    100% { opacity: 1; }
}

@media screen and (max-width: 1100px) {
  .left-top {
    float: none;
    margin-right:0;
    width:auto;
    border:0;
  }
  .aligned-left-about-me-container {
    display: flex;
    flex-direction: column;
  }
  .aligned-left-about-me-container > .right-top {
    order: 1;
  }
  .aligned-left-about-me-container > .left-bottom {
    order: 2;
    text-align: left;
  }
}
