body {
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  height: 200%;
}

p {
  margin: 0;
}

.name-text {
  font-family: Cantarell, Arial;
  font-size: 450%;
  animation: 1s ease 0s normal forwards 1 fadein-name;
}

.name-text::first-letter {
  font-size: 130%;
}

.name-text.first {
  margin-bottom: -50;
  margin-right: 20px;
}

.name-container {
  margin-top: 20%;
  margin-bottom: -20;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.motto-text {
  text-align: center;
  font-family: Cantarell, Arial;
  font-size: 200%;
  margin-bottom: -20;
}

.motto-text.first {
  animation: 3s ease 0s normal forwards 1 fadein-motto-top;
}

.motto-text.second {
  animation: 3s ease 0s normal forwards 1 fadein-motto-bottom;
}

.motto-text::first-letter {
  font-size: 130%;
}

@keyframes fadein-name{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadein-motto-top{
    0% { opacity: 0; }
    33% { opacity: 0; }
    66% { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes fadein-motto-bottom{
    0% { opacity: 0; }
    66% { opacity: 0; }
    100% { opacity: 1; }
}
